@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
html {
    font-size: large;
    background-color:lightblue;
    color: black;
    font-family: "Jersey 10", sans-serif;
}

.header {
    font-size:xxx-large;

}

.red {
    color: red;
}